.modalBackground {
  @apply w-full h-full;
  @apply bg-gray-500 bg-opacity-75;
}

.modalArea {
  transition: 0.4s;
  @apply fixed;
  @apply z-10;
  @apply top-0 left-0;
  @apply w-full h-full;
}

.modalWrapper {
  @apply transform -translate-x-1/2 -translate-y-1/2;
  @apply absolute;
  @apply top-1/2 left-1/2;
  @apply w-2/3;
  @apply max-w-screen-sm;
  @apply py-3 px-8;
  @apply rounded-lg;
  @apply bg-white;
}

.closeButton {
  @apply bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 mr-3 rounded;
}

.downloadButton {
  @apply bg-green-600 hover:bg-green-700 disabled:opacity-50 text-white font-bold py-2 px-4 mr-3 rounded;
}

.modalEnter {
  @apply opacity-0;
  @apply transform -translate-x-1/2 -translate-y-1/2 scale-0;
}
.modalEnterActive {
  @apply opacity-100;
  @apply transform -translate-x-1/2 -translate-y-1/2;
  transition: opacity 400ms, transform 400ms;
}
.modalExit {
  @apply opacity-100;
}
.modalExitActive {
  @apply opacity-0;
  transition: opacity 200ms;
}

.modalBackgroundEnter {
  @apply opacity-0;
}
.modalBackgroundEnterActive {
  @apply opacity-100;
  @apply transition-opacity duration-200;
}

.modalBackgroundExit {
  @apply opacity-100;
}
.modalBackgroundExitActive {
  @apply opacity-0;
  @apply transition-opacity duration-200;
}

.gifPreview {
  @apply flex justify-around;
}

.gifGenerateLoading {
  @apply absolute;
  @apply transform -translate-x-1/2 -translate-y-1/2;
  @apply top-1/2 left-1/2;
}
